body {
  background: #c8d5b9;

}

hr {
  border-color: 8fc0a9;
  border-style: dotted none none none;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

p {
  color: black;
  border-color: 5px black;
}

h1 {
  color: black;border-color: 5px black;
}

h3 {
  color: black;border-color: 5px black;
}

table {
  color: black;
}

ul {
  color: Black;
}

ol {
  color: Black;
}

a :link {
  color: #blue;
}

a:visited {
  color: #blue;
}

a:active {
  color: #blue;
}

a:hover {
  color: #blue;
}
form{
  color:Black;
}
input{
  border-color: 5px black;
  border-radius: 9px;
}
textarea{
  border-color: 5px black;
  border-radius: 9px;

}
